<%= stylesheet_link_tag "blue.css" %>
<!-- <div class="example3">
  <nav class="navbarblue navbar-inverse navbar-static-top" style="border-radius:0px";>
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="barlogo" href=<%= root_path %> >
            <%= image_tag 'logo.png', class: 'barlogo'%>
        </a>
      </div
      <div id="navbar3" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a class = "menu_text">대나무숲</a></li>
          <li><a class = "menu_text">브루인생</a></li>
          <li><a class = "menu_text">이벤트</a></li>
          <li><a class = "menu_text">뻘게시판</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle aa" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>User<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li id="profile-link"><a href=<%=edit_user_registration_path%>>Edit Profile</a></li>
              <% if user_signed_in? %>
              <li><a href= <%= destroy_user_session_path %>><span class="glyphicon glyphicon-log-in"></span>Log Out</a></li>
              <% else %>
              <li><a href= <%= user_session_path %>><span class="glyphicon glyphicon-log-in"></span>Log In</a></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
</div> -->

<head>
  <%= stylesheet_link_tag "login.css" %>
  <style>
    footer {
      display: none;
    }
  </style>
</head>

<body class = "back">
  <%=render 'layouts/navbar'%>

  <div class="box">
    <div class="border-form-div-2" style="text-align:center">
          <h4 style="text-align:center">안녕하세요 <%=current_user.email %>님</h4>
          <br>
          <% if user_signed_in? %>
            <%= link_to "내정보", edit_user_registration_path %>
            <br>
            <%= link_to "로그아웃", destroy_user_session_path %>
          <% else %>
            <%= link_to "회원가입", new_user_registration_path %>, or
            <%= link_to "로그인", user_session_path %>
          <% end %>
            <!-- <%= render "devise/shared/links" %> -->
    </div>
    <div class="Iam">
        <b>
          <div class="innerIam">
            <br />
            원하는 수업, 교수 찾을 때<br />
            룸메, 또는 아파트 찾을 때<br />
            인원이 더 필요할 때<br />
            대숲 사연이 궁금할 때<br />
            </div>
        </b>
        <br><br>
        <p class="intro">답은 = 브루이웃</p>
    </div>
</body>
