<head>
  <%= stylesheet_link_tag "login.css" %>
</head>
<body>
  <div class="down">
        <div id="content">
          <div class="back">
            <!-- <%= image_tag("palm3.jpg") %> -->
          </div>
        </div>
    </div>
    <div class="border-form-div" style="text-align:center">
          <h2 style="text-align:center">안녕하세요 <%=current_user.email %>님</h2>
          <br>
          <% if user_signed_in? %>
            <%= link_to "내정보", edit_user_registration_path %>
            <br>
            <%= link_to "로그아웃", destroy_user_session_path %>
          <% else %>
            <%= link_to "회원가입", new_user_registration_path %>, or
            <%= link_to "로그인", user_session_path %>
          <% end %>
            <!-- <%= render "devise/shared/links" %> -->
    </div>
</body>
