
<p id="notice"><%= notice %></p>

<%= render 'layouts/blackbar'%>

<div id="menuimage">
  <%= image_tag 'picnic.jpg', class: 'menuimage'%>
</div>
<!-- ///////////////게시글//////////////////////////// -->

<div class="main">
<table class="Eut">
  <thead>
    <tr>
      <th scope ="row">글쓴이</th>
      <th class="Eut-title-header">제목</th>
      <!-- <th colspan="3"></th> -->
      <th>작성시간</th>
    </tr>
  </thead>

  <tbody>
    <% @pointlesses.each do |pointless| %>
      <tr class="Eut-body">
            <div>
            <td scope="row"><%=pointless.user.name%>
            </td>
            <td>
              <a href="/pointlesses/<%=pointless.id%>">
              <div class="Eut-title-body">
                <%=pointless.title%>
              </div>
              </a>
            </td>
            <td >
              <%=pointless.created_at.strftime('%I:%M%p, %b %e')%>
            </td>
        </div>
      </tr>

    <% end %>
  </tbody>
</table>

<br>

  <div class="right">
      <%= link_to "전체 목록", pointlesses_path, :class=>"butn butn-grey" %>
      <%= will_paginate @pointlesses %>
  </div>
</div>
