
<head>
  <script src="https://use.fontawesome.com/8a1c7ad851.js"></script>
</head>

<%= render 'layouts/blackbar'%>

<div id="menuimage">
  <div class = "titlebox" >
    <h5 class="ptitle">브루인생</h5><br>
  </div>
  <%= image_tag 'picnic.jpg', class: 'menuimage'%>
</div>
<!-- ///////////////게시글//////////////////////////// -->

<div class="main">
  <%= link_to "추천글보기", pointlesses_rindex_path, :class => "button-rec" %>

<table class="Eut">

  <thead>
    <tr>
      <th scope ="row">글쓴이</th>
      <th class="Eut-title-header">제목</th>
      <!-- <th colspan="3"></th> -->
      <th>추천</th>
      <th>작성시간</th>
    </tr>
  </thead>

  <tbody>
    <% @pointlesses.each do |pointless| %>
      <tr class="Eut-body">
            <div>
            <td scope="row"><%=pointless.user.bname%>
            </td>
            <td>
              <a href="/pointlesses/<%=pointless.id%>">
              <div class="Eut-title-body">
                <%=pointless.title%>
                <% if pointless.pcomments.size > 0 %>
                 [<%=pointless.pcomments.size%>]
                 <% end %>
              </div>
              </a>
            </td>
            <td><%=pointless.like%></td>
            <td >
              <%=pointless.created_at.strftime('%I:%M%p, %b %e')%>
            </td>
        </div>
      </tr>

    <% end %>
  </tbody>
</table>

<br>

<div class="right">
  <div class="colu three">
<% if current_user%>
  <%= link_to new_pointless_path, {:style=>'text-decoration:none;'} do %>
    <div class="butn butn-dark-blue"><i class="fa fa-pencil"></i>글쓰기</div>
  <% end %>
<% end %>
</div>
<br>
<%= will_paginate @pointlesses %>
</div>
</div>
