
<p id="notice"><%= notice %></p>

<%= render 'layouts/blackbar'%>

<div id="menuimage">
  <div class = "titlebox" >
    <h5 class="ptitle">브루인생</h5><br>
  </div>
  <%= image_tag 'ucla-re.jpg', class: 'menuimage'%>
</div>
<!-- ///////////////게시글//////////////////////////// -->

<div class="main">
<table class="Eut">
  <thead>
    <tr>
      <th scope ="row">글쓴이</th>
      <th>제목</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pointlesses.each do |pointless| %>
      <tr>
        <td scope="row"><%=pointless.user.name%>
        </td>
        <td>
          <a href="/pointlesses/<%=pointless.id%>">
            <div class="Eut-title" style="height:100%; width:100%;">
              <%=pointless.title%>
            </div>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="right">
<% if user_signed_in? %>
  <%= link_to '[글쓰기]', new_pointless_path %>
<% end %>

<%= link_to '[홈]', root_path %> <br>

<%= will_paginate @pointlesses %>
</div>
</div>
