
<p id="notice"><%= notice %></p>

<%=render 'layouts/blackbar'%>

<div id="menuimage">
  <%= image_tag 'ucla-re.jpg', class: 'menuimage'%>
</div>
<!-- ///////////////게시글//////////////////////////// -->
<div class="main">
  <table class="boardtable">
    <thead>
      <tr class="pcontitle">
        <th scope="cols"><%= @pointless.title.html_safe %></th>
        <th scope = "cols"> <%= @pointless.user.name %> </th>
      </tr>
    </thead>
    <tbody>
      <tr class ="pcontitle">
        <th scope="row"><%= @pointless.content.html_safe %></td>
      </tr>
    </tbody>
  </table>
    <% if @user.id == @pointless.user_id %>
    <%= link_to '[글 삭제]', @pointless, method: :delete, data: { confirm: 'Are you sure?' }, class:"if-link" %>
    <% end %>
  <br>
  <br>

    <% if current_user%>
    <div style="display:flex;">
      <form action='like' method=post %>
        <input type=hidden name=pointless_id value = <%= @pointless.id %> >
        <input class = "button-like" type=Submit value="공감 <%= @pointless.like %>">
      </form>
      <form action='dislike' method=post %>
        <input type=hidden name=pointless_id value = <%= @pointless.id %> >
        <input class = "button-dislike" type=Submit value="비공감 <%= @pointless.dislike %>">
      </form>
    </div>
    <% end %>

    <br>
    <br>
    <div class="pcomment">
      <%= render @pointless.pcomments %>
      <%= render "pcomments/form" %>
    </div>
  <div class="right">
  <%= link_to '뒤로가기', pointlesses_path, :class=>"butn butn-grey" %>
  </div>
<% @pointless.pluids.each do |p| %>
<% end %>
</div>
