
<%=render 'layouts/blackbar'%>

<div id="menuimage">
  <%= image_tag 'picnic.jpg', class: 'menuimage'%>
</div>
<!-- ///////////////게시글//////////////////////////// -->
<div class="main">
  <table class="boardtable">
    <thead>
      <tr class="pcontitle">
        <th scope="cols"><%= @pointless.title.html_safe %></th>
      </tr>
    </thead>
    <tbody>
      <tr class ="pcontitle">
        <th scope="row"><%= @pointless.content.html_safe %></td>
      </tr>
    </tbody>
  </table>
  <% if current_user %>
      <% if @user.id == @pointless.user_id %>
      <%= link_to '[글 수정]', edit_pointless_path(@pointless), class:"if-link" %>

      <%= link_to '[글 삭제]', @pointless, method: :delete, data: { confirm: 'Are you sure?' }, class:"if-link" %>
      <% end %>
  <% end %>

    <% if current_user%>
    <div class = "like-holder">
      <form action='like' method=post %>
        <input type=hidden name=pointless_id value = <%= @pointless.id %> >
        <input class = "button-like" type=Submit value="공감 <%= @pointless.like %>">
      </form>
      <form action='dislike' method=post %>
        <input type=hidden name=pointless_id value = <%= @pointless.id %> >
        <input class = "button-dislike" type=Submit value="비공감 <%= @pointless.dislike %>">
      </form>
    </div>
    <% end %>

    <div class="pcomment">
      <%= render @pointless.pcomments %>
      <% if current_user %>
        <%= render "pcomments/form" %>
      <% end %>
    </div>
  <div class="right">
  <%= link_to '뒤로가기', pointlesses_path, :class=>"butn butn-grey" %>
  </div>
<% @pointless.pluids.each do |p| %>
<% end %>
</div>
