<!-- <p>
  <b>이름:</b>
  <%= fcomment.commenter %>
</p>

 <p>
  <b>댓글:</b>
  <%= fcomment.body %>
</p>
<p>
<% if user_signed_in? %>
  <% if fcomment.user_id == current_user.id %>

  <%= link_to '댓글삭제', [fcomment.forest, fcomment],
    :confirm => 'Are you Sure?',
    :method => :delete %>
<% end %>
<% end %> -->

<table class="type06">
    <tr  class="odd">
        <th scope="row"><b>이름:</b></th>
        <td><%= fcomment.commenter %></td>
    </tr>
    <tr>
        <th scope="row">  <b>댓글:</b></th>
        <td><%= fcomment.body %></td>
    </tr>
</table>
<div class="comment">
      <% if user_signed_in? %>
      <% if fcomment.user_id == current_user.id %>

      <%= link_to '댓글삭제', [fcomment.forest, fcomment],
            :confirm => 'Are you Sure?',
            :method => :delete %>

      <% end %>
      <% end %>
</div>
<br>
