<%= form_for([@f, @f.fcomments.build]) do |f| %>
  <div class="field forComment">
    <%= f.hidden_field :user_id, :value => @user.id %>
  <!-- </div>
  <div class="field"> -->
    <%= f.hidden_field :commenter, :value => @user.name %>
  <!-- </div>
  <div class="field"> -->
    <div class="fl">
      <%= f.label :댓글달기%>
      <%= f.text_area :body, :class=>"fl-comment" %>
    </div>

    <div class="actions">
      <%= f.submit :value => "등록", :class => "button-submit"%>
    </div>

  </div>
<% end %>
