<head>
  <%= stylesheet_link_tag "login.css" %>
</head>
<body>
  <div class="down">
        <div id="content">
          <div class="back">
            <%= image_tag("ocean.jpg") %>
          </div>
        </div>
    </div>
    <div class="logo">
      <%= image_tag("logo.png", height: 70, width: 250) %>
    </div>
    <div class="border-form-div">
          <h2 style="text-align:center">안녕하세요 님</h2>
          <br>

            <!-- <%= render "devise/shared/links" %> -->
            <br>
    </div>
</body>



<!-- <%@posts.reverse.each do |post|%>
    <div style = "border: 3px solid; margin-bottom :10px">
        Author: <%= post.username %> <br>
        Title: <%= post.title %> <br>
        Content: <%= post.content %> <br>
        Time: <%= post.created_at%>


        <% post.comments.each do |comment| %>
            <div style = "border : 3px solid red; margin-bottom: 10px; margin-left: 100px; margin-right: 100px; ">
                ID : <%= comment.username%> <br>
                Content : <%= comment.content%> <br>
                Time: <%= comment.created_at%>
            </div>
        <% end %>
        <form action = "/comment" method="POST">
            <input type = "hidden" name="post_id" value="<%= post.id %>">
            Author: <input type = "text" name = "username">
            Contents: <input type = "text" name = "content">
            <input type = "submit" value = "send">
        </form>
    </div>
<%end%>

<form action = "/upload" method="POST">
    Title: <input type = "text" name = "title">
    Author: <input type = "text" name = "username">
    Contents: <input type = "text" name = "content">
    <input type = "submit" value = "send">
</form> -->
