<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<%@posts.reverse.each do |post|%>
    <div style = "border: 3px solid; margin-bottom :10px">
        Author: <%= post.username %> <br>
        Title: <%= post.title %> <br>
        Content: <%= post.content %> <br>
        Time: <%= post.created_at%>
        
        
        <% post.comments.each do |comment| %>
            <div style = "border : 3px solid red; margin-bottom: 10px; margin-left: 100px; margin-right: 100px; ">
                ID : <%= comment.username%> <br>
                Content : <%= comment.content%> <br>
                Time: <%= comment.created_at%>    
            </div>
        <% end %>
        <form action = "/comment" method="POST">
            <input type = "hidden" name="post_id" value="<%= post.id %>">
            Author: <input type = "text" name = "username">
            Contents: <input type = "text" name = "content">
            <input type = "submit" value = "send">
        </form>
    </div>
<%end%>

<form action = "/upload" method="POST">
    Title: <input type = "text" name = "title">
    Author: <input type = "text" name = "username">
    Contents: <input type = "text" name = "content">
    <input type = "submit" value = "send">
</form>