<body>
  <p id="notice"><% notice %></p>
  <%= render 'layouts/blackbar' %>
  <div id="menuimage">
    <div class = "titlebox" >
      <h4 class = "title">EVENTS</h4>
    </div>
    <%= image_tag 'royce_drone.jpg', class: 'menuimage'%>
  </div>

  <div class="slideshow-container">
    <div class="prev" onclick="plusSlides(-1)">&#10094;</div>
    <div class="mySlides fade firstpic">
      <%= image_tag 'poster1.jpg', class:"img_posters" %>
      <div class="text">Caption One</div>
    </div>

    <div class="mySlides fade">
      <%= image_tag 'poster2.jpg', class:"img_posters"%>
      <div class="text">Caption Two</div>
    </div>

    <div class="mySlides fade">
      <%= image_tag 'poster3.jpg', class:"img_posters" %>
      <div class="text">Caption Three</div>
    </div>

    <div class="next" onclick="plusSlides(1)">&#10095;</div>
  </div>
  <br>

  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>


    <!-- <thead>
      <tr>
        <th>Title</th>
        <th>Description&emsp;</th>
        <th>Location</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Event type</th>
        <th colspan="3"></th>
      </tr>
    </thead> -->
    <br />
      <div class="events_board">
        <h3 class="upcoming">UPCOMING</h3>
          <!-- events_divs를 둘러싸고 있는 큰 div -->
          <div class="events_contents">
            <!-- counter를 이용해서 upcoming 3개까지만 보여줌 -->
            <% counter = 0 %>
            <% @events.each do |event| %>
              <!-- 오늘 날짜(@cur)와 비교해서 현재 시각 이후의 이벤트만 보여줌, 3개까지 -->
              <% if counter < 3 && event.start_time.strftime("%Y%m%d%H%M") > @cur %>
                <!-- 각각 이벤트 div -->
                <div class="events_divs">
                  <br />
                  <br />
                  <%= event.title %>
                  <br />
                  <!-- <%= event.description %>&emsp;<br /> -->
                  <%= event.start_time.strftime("%b %d %I:%M%p") %>
                  <br />
                  <%= event.location %>
                  <!-- <%= event.end_time %>&emsp; -->
                  <!-- <td><%= event.event_type %>&emsp;</td> -->
                  <!-- <td><%= link_to 'Show', event %></td>
                  <td><%= link_to 'Edit', edit_event_path(event) %></td>
                  <td><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
                  <br />
                  <br />
                  <br />
                  </div>
                  <% counter = counter + 1 %>
              <% end %>
            <% end %>
          </div>
        <br />
      </div>


  <br>

  <div class="ecreatebutn">
    <div class="colu four">
        <a href="<%= new_event_path%>" class="butn butn-dark-blue">이벤트 추가</a>
    </div>
  </div>

  <br />
  <br />
  <br />

  <div class="calendar"></div>

  <script>
  // this is for calendar
   var initialize_calendar;
   initialize_calendar = function() {
    //  console.log("calendar works!")
     $('.calendar').each(function() {
       var calendar = $(this);
       calendar.fullCalendar({
         header: {
           left: 'prev, next today',
           center: 'title',
           right: 'month, agendaWeek, agendaDay'
         },
         selectable: true,
         selectHelper: true,
         editable: true,
         eventLimit: true,
         eventTextColor: '#ffffff',
         eventAfterRender: function (event, element, view) {
           if (event.event_type == "Club") {
             //event.color = "#FFB347"; //Em andamento
             element.css('background-color', '#1d86c8');
             element.css('border-color', '#1d86c8');
           }
           else if (event.event_type == "Holiday") {
             //event.color = "#77DD77"; //Concluído OK
             element.css('background-color', '#77DD77');
             element.css('border-color', '#77DD77');
           }
           else if (event.event_type == "School") {
             //event.color = "#AEC6CF"; //Não iniciado
             element.css('background-color', '#ffee0a');
             element.css('border-color', '#ffee0a');
           }
         },
         events: '/events.json'
       });
     })
   };
   $(document).on('turbolinks:load', initialize_calendar);

  // this is for posters slide
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display="none";
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " active";
    }
  </script>
</body>
