<p id="notice"><%= notice %></p>

<p>
  <strong>제목:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>내용:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>장소:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>시작시간:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>종료시간:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>이벤트 종류:</strong>
  <%= @event.event_type %>
</p>

<%= link_to '[수정]', edit_event_path(@event) %> |
<%= link_to '[뒤로가기]', events_path %>
