    <head>

    </head>
    <body>
        <h1>Post#index</h1>
        <p>Find me in app/views/post/index.html.erb</p>

        <h2><a href = "/users/sign_out"> logout </a></h2> <h6> - <%= current_user.email %></h6>

        <div class="container">
            <div class="row">
                <form action ="/create" method="post">
                    <input type = "text" name="article">
                    <select name= "total">
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10+</option>
                    </select>
                    <input type = "submit">
                </form>

                <%@posts.reverse.each do |p|%>
                    <div class="well">
                        <%= p.article%> - <%= p.user.email %> <br>

                        <%if Join.where(:user_id=>current_user).where(:post_id => p.id).empty?%>
                            <p><a href = "/join/<%= p.id %>"> join </a> &nbsp; (<%= p.joins.count %>) </p>
                        <%else%>
                            <p><a href = "/disjoin/<%= p.id %>"> disjoin </a> &nbsp; (<%= p.joins.count %>) </p>
                        <%end%>

                        <div class = "icon" >
                            <% for i in 0 ... p.joins.count %>
                                <div style="color:red; font-size:50px;">■</div>
                            <% end %>
                            <% for i in 0 ... p.total - p.joins.count %>
                                <div style="color:green; font-size:50px;">■</div>
                                <!--<img src = "https://www.iconfinder.com/icons/312112/account_green_human_male_man_person_profile_user_icon">-->
                            <% end %>
                        </div>


                        <%p.likes.each do |l|%>
                            <br><%= l.user.email%> - <%= l.post_id%>
                        <%end%>

                        <%if Like.where(:user_id=>current_user).where(:post_id => p.id).empty?%>
                            <p><a href = "/like/<%= p.id %>"> like </a> &nbsp; (<%= p.likes.count %>) </p>
                        <%else%>
                            <p><a href = "/unlike/<%= p.id %>"> unlike </a> &nbsp; (<%= p.likes.count %>) </p>
                        <%end%>

                        ###########
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider"></span>
                        </label>

                    </div>
                <%end%>


            </div>

        </div>
    </body>
