<head>
  <style>
    footer {
      display: none;
    }
  </style>
</head>
<%= stylesheet_link_tag "login.css" %>
<%= stylesheet_link_tag "navbar" %>
<%=render 'layouts/navbar'%>

<body class = "back">
        <div class="box">
          <div class="border-form-div-1">
            <h2 style="text-align:center">로그인</h2>
              
              <div class="slightleft" style="text-align:center">
                <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="field" style="text-align:center">
                    <%= f.label :이메일 %><br />
                    <%= f.email_field :email, autofocus: true %>
                  </div>

                  <div class="field">
                    <%= f.label :비밀번호 %><br />
                    <%= f.password_field :password, autocomplete: "off" %>
                  </div>

                  <% if devise_mapping.rememberable? -%>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :로그인_상태_유지 %>
                    </div>
                  <% end -%>

                  <div class="actions" style="text-align:center">
                    <%= f.submit "로그인" %>
                  </div>
                  <% end %>
              </div>
              <%= render "devise/shared/links" %>

          </div>
        </div>
        <div class="Iam">
            <p class="intro">신/편입생 및 재학생 여러분</p>
            <b>
              <div class="innerIam">
                다가오는<br />
                2017-2018 가을학기<br />
                브루이웃과<br />
                함께하세요<br />
                (주)likeLion<br />
                </div>
            </b>
        </div>
</body>
