<%= form_for(@forest) do |f| %>
  <% if @forest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forest.errors.count, "error") %> prohibited this forest from being saved:</h2>

      <ul>
      <% @forest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.cktext_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
