
</body>
<%= link_to "비공개사연 보기", forests_admin_part_path %>
<% if @forests.present? %>

<table>
  <tbody>
    <% @forests.each do |forest| %>
      <tr>
        <td>
          <% if forest.censored == false %>

          <%= link_to '[공개하기]', maketrue_path(forest) %>
          <% else %>
          <%= link_to '[블라인드 처리]', blind_path(forest) %>
          <% end %>
       </td>
        <td>

          <%= forest.id %>
          <%= link_to 'Show', forest %>
          <%= link_to 'Edit', edit_forest_path(forest) %>
          <%= link_to 'Destroy', forest, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
<br>
  더 이상 사연이 없습니다.
<% end %>
</body>
