
<%= render 'layouts/blackbar'%>
<div id="notice-real"><%=notice%></div>
<div class="myModal">
          <!-- Modal content -->
          <div class="modal-content">
            <p>
              사연 감사합니다 !
              <span class="close">&times;</span>
            </p>
          </div>

        </div>
<div id="menuimage">
  <div class = "titlebox" >
    <h5 class="ftitle">대나무숲</h5><br>
    <h4 id="subt">익명보장해드립니다!</h4>
  </div>
  <%= image_tag 'forestimg2.jpg', class: 'menuimage'%>
</div>
<!-- ///////////////게시글//////////////////////////// -->

<div class="background">
<div class="main">
  <text style="color:green">현재 <%=Forest.where(:censored => false).size %>개의 사연이 승인을 기다리고 있습니다. </text>
  <br><br>
  <% @forests.each do |forest| %>
  <% @f=forest%>
      <% if forest.censored == true %>
      <table class="fcontent">
          <tr>
              <td><%= forest.content.html_safe %><br></td>

            </tr>

      </table>

<<<<<<< HEAD
      ======================

      <%if Forestlike.where(:user_id=>current_user).where(:forest_id => forest.id).empty?%>
          <!-- <div class="button-holder"> -->
            <a class = "button-like material-icons" href = "/forestlike/<%= forest.id %>"><i class="material-icons"> favorite </i>공감(<%= forest.forestlikes.count %>)</a>
          <!-- </div> -->

      <%else%>
          <!-- <div class = "button-holder"> -->
            <a class = "button-like material-icons" href = "/forestunlike/<%= forest.id %>"><i class="material-icons"> favorite_border </i>공감 취소(<%= forest.forestlikes.count %>)</a>
          <!-- </div> -->

      <%end%>
<!-- ///////// 공감 비공감 버튼//////////// -->
      <%if Forestdislike.where(:user_id=>current_user).where(:forest_id => forest.id).empty?%>
          <!-- <div class="button-holder"> -->
            <a class = "button-dislike material-icons" href = "/forestdislike/<%= forest.id %>"><i class="material-icons"> ac_unit </i>비공감(<%= forest.forestdislikes.count %>)</a>
          <!-- </div> -->

      <%else%>
          <!-- <div class = "button-holder"> -->
            <a class = "button-dislike material-icons" href = "/forestundislike/<%= forest.id %>"><i class="material-icons"> ac_unit </i>비공감 취소(<%= forest.forestdislikes.count %>)</a>
          <!-- </div> -->

      <%end%>
          ========================
=======
>>>>>>> 56a5a8f368b6cc782432e3fd2d4edebc23133d40
           <%= render forest.fcomments %>
           <% if current_user %>
             <%= render "fcomments/form" %><br>
           <% end %>
      <% end %>

  <% end %>
<div class="colu three">
  <a href="<%=new_forest_path %>" class="butn butn-dark-blue"><i class="fa fa-pencil"></i>비밀글쓰기</a>
</div>
<br>
</div>
</div>
<script>

          var letsmodal = document.getElementById('notice-real');
          console.log(letsmodal.innerHTML);
          var mymodal = document.getElementsByClassName("myModal")[0];
          var btn = document.getElementById("myBtn");
          var close = document.getElementsByClassName("close")[0];
          if (letsmodal.innerHTML==="true"){
          open = function() {
              mymodal.style.display = "block";
              console.log("lets modal");
          }
          open();
          close.onclick = function() {
              mymodal.style.display = "none";
              console.log("lets close");
          }
          // window.onclick = function(event) {
          // if (event.target === mymodal) {
          //     mymodal.style.display = "none";
          //     console.log("window close");
          //   }
          // }
        }


</script>
