
<%= render 'layouts/blackbar'%>
<div id="notice-real"><%=notice%></div>
<div class="myModal">
          <!-- Modal content -->
          <div class="modal-content">
            <p>
              사연 감사합니다 !
              <span class="close">&times;</span>
            </p>
          </div>

        </div>
<div id="menuimage">
  <div class = "titlebox" >
    <h5 class="ftitle">대나무숲</h5><br>
    <h4 id="subt">익명보장해드립니다!</h4>
  </div>
  <%= image_tag 'forestimg2.jpg', class: 'menuimage'%>
</div>
<!-- ///////////////게시글//////////////////////////// -->

<div class="background">
<div class="main">
  <text style="color:green">현재 <%=Forest.where(:censored => false).size %> 개의 사연이 처리 중입니다. </text>
  <br><br>
  <% @forests.each do |forest| %>
  <% @f=forest%>
      <% if forest.censored == true %>
      <table class="fcontent">
          <tr>
              <td><%= forest.content.html_safe %><br></td>

            </tr>

      </table>

           <%= render forest.fcomments %>
           <% if current_user %>
             <%= render "fcomments/form" %><br>
           <% end %>
      <% end %>

  <% end %>
<div class="colu three">
  <a href="<%=new_forest_path %>" class="butn butn-dark-blue"><i class="fa fa-pencil"></i>비밀글쓰기</a>
</div>
<br>
</div>
</div>
<script>

          var letsmodal = document.getElementById('notice-real');
          console.log(letsmodal.innerHTML);
          var mymodal = document.getElementsByClassName("myModal")[0];
          var btn = document.getElementById("myBtn");
          var close = document.getElementsByClassName("close")[0];
          if (letsmodal.innerHTML==="true"){
          open = function() {
              mymodal.style.display = "block";
              console.log("lets modal");
          }
          open();
          close.onclick = function() {
              mymodal.style.display = "none";
              console.log("lets close");
          }
          // window.onclick = function(event) {
          // if (event.target === mymodal) {
          //     mymodal.style.display = "none";
          //     console.log("window close");
          //   }
          // }
        }


</script>
