    <head>

    </head>
    <body>
        <h1>Post#index</h1>
        <p>Find me in app/views/post/index.html.erb</p>

        <h2><a href = "/users/sign_out"> logout </a></h2> <h6> - <%= current_user.email %></h6>

        <div class="container">
            <div class="row">
                <form action ="/partycreate" method="post">
                    <input type = "text" name="article">
                    <select name= "total">
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10+</option>
                    </select>
                    <input type = "submit">
                </form>

                <%@partyposts.reverse.each do |p|%>
                    <div class="well">
                        <%= p.article%> - <%= p.user.email %> <br>
                        <%if Partyjoin.where(:user_id=>current_user).where(:partypost_id => p.id).empty?%>
                            <p><a href = "/partyjoin/<%= p.id %>"> join </a> &nbsp; (<%= p.partyjoins.count %>) </p>
                        <%else%>
                            <p><a href = "/partydisjoin/<%= p.id %>"> disjoin </a> &nbsp; (<%= p.partyjoins.count %>) </p>
                        <%end%>

                        <%p.partyjoins.each do |j|%>
                            <%= j.user.email%><br>
                        <%end%>

                        <br><br>

                        <div class = "icon" >
                            <% for i in 0 ... p.partyjoins.count %>
                                <div style="color:red; font-size:50px;">■</div>
                            <% end %>
                            <% for i in 0 ... p.total - p.partyjoins.count %>
                                <div style="color:green; font-size:50px;">■</div>
                                <!--<img src = "https://www.iconfinder.com/icons/312112/account_green_human_male_man_person_profile_user_icon">-->
                            <% end %>
                        </div>



                        <br><br>

                        <%if Partylike.where(:user_id=>current_user).where(:partypost_id => p.id).empty?%>
                            <p><a href = "/partylike/<%= p.id %>"> like </a> &nbsp; (<%= p.partylikes.count %>) </p>
                        <%else%>
                            <p><a href = "/partyunlike/<%= p.id %>"> unlike </a> &nbsp; (<%= p.partylikes.count %>) </p>
                        <%end%>

                        <%p.partylikes.each do |l|%>
                            <%= l.user.email%><br>
                        <%end%>

                        <br><br>###########
                        <label class="switch">
                            <input type="checkbox">
                            <span class="slider"></span>
                        </label>



                    </div>
                <%end%>


            </div>

        </div>
    </body>
