<!DOCTYPE html>
<html>
<head>
  <title>브루이웃</title>

  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'custom', 'partypost', 'forests', 'pointlesses', 'fcomments', 'login', 'events'%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

</head>
<body>
  <% if current_user %>
  <!-- The reportModal -->
  <div id="myModal" class="reportmodal">

    <!-- Modal content -->
    <div class="reportmodal-content">
      <span class="rmclose">&times;</span>
      <%= render "main/report_form" %>
    </div>
  </div>
  <% end %>
<%= yield %>

<footer class="text-center">
  <a class="up-arrow" href="#" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>Made by Team <a href="https://www.youtube.com/watch?v=8A2t_tAjMz8" data-toggle="tooltip" title="Footer">LionKing</a>
  &copy 2017 All Rights Reserved</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<%= javascript_include_tag 'fullcalendar', 'gcal', 'moment' %>

</body>
<script>
// Get the modal
var reportmodal = document.getElementById('myModal');


// Get the <span> element that closes the modal
var span = document.getElementsByClassName("rmclose")[0];

// When the user clicks the button, open the modal
function openrmodal(){
  reportmodal.style.display = "block";
}
// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    reportmodal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == reportmodal) {
      var closeReport = true;
    } else if (event.target == mymodal){
      var closeMymodal = true;
    } else {console.log("nothing");}
    if (closeReport){
      reportmodal.style.display = "none";
      console.log("report worked!");
    } else if (closeMymodal){
      mymodal.style.display = "none";
      console.log("myModal worked!");
    }
  }
</script>
</html>
