<!DOCTYPE html>
<html>
<head>
  <title>브루이웃</title>

  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'menubar', 'custom', 'partypost', 'forests', 'pointlesses', 'fcomments', 'login', 'events' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

</head>
<body>

    <div class="row">
        <% flash.each do |key, value| %>
            <div class=" col-md-4 col-md-offset-4 alert alert-<%= key %>" style="margin-bottom: 20px"><%= value %></div>
        <% end %>
    </div>
<%= yield %>

<footer class="text-center">
  <a class="up-arrow" href="#" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>Made by Team <a href="https://www.youtube.com/watch?v=8A2t_tAjMz8" data-toggle="tooltip" title="Footer">LionKing</a>
  &copy 2017 All Rights Reserved</p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<%= javascript_include_tag 'fullcalendar', 'gcal', 'moment' %>

</body>
</html>
